swagger: "2.0"
info:
  description: "This is a swagger spec for APIs provided by superdentist.io"
  version: "1.0.0"
  title: "SuperDentist APIs"
  contact:
    email: "superdentist.admin@superdentist.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "superdentist.io"
basePath: "/api/sd"
tags:
- name: "clinic"
  description: "All these APIs deals with users (Specialist/GD alike)"
  externalDocs:
    description: "Find out more"
    url: "http://superdentist.io"
schemes:
- "https"
paths:
  /v1/clinic/registerAdmin:
    post:
      tags:
      - "clinic"
      summary: "Register clinic"
      description: "Frontend upon firebase registration will call backend with token and details"
      operationId: "ClinicRegistrationHandler"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicRegistrationData"
      responses:
        '200':
          $ref: '#/responses/PostClinicRegistrationResponse'
        '401':
          description: "Unauthorized: Bad request or authorization details"
        '500':
          description: "Internal server error occured"
      security:
        - Bearer: []
  /v1/clinic/verifyAdmin:
    post:
      tags:
      - "clinic"
      summary: "Verify clinic"
      description: " Frontend will tell backend that clinic has verified itself "
      operationId: "ClinicVerificationHandler"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicVerificationData"
      responses:
        '200':
          $ref: '#/responses/PostClinicVerificationResponse'
        '401':
          description: "Unauthorized: Bad request or authorization details"
        '500':
          description: "Internal server error occured"
      security:
        - Bearer: []
  /v1/clinic/addClinics:
    post:
      tags:
       - "clinic"
      summary: "Add clinical addresses"
      description: "Provide a range of addresses associated with registered clinic"
      operationId: "AddPhysicalClinicsHandler"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicAddressRequest"
      responses:
        '200':
          $ref: '#/responses/PostClinicAddressResponse'
        '401':
          description: "Unauthorized: Bad request or authorization details"
        '500':
          description: "Internal server error occured"
      security:
        - Bearer: []
  /v1/clinic/registerDoctors:
    post:
      tags:
       - "clinic"
      summary: "Add clinical addresses"
      description: "Provide a range of doctors associated with each clinic"
      operationId: "RegisterClinicDoctors"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicDoctorsRegisterRequest"
      responses:
        '200':
          description: "Doctors have been successfully registered"
        '401':
          description: "Unauthorized: Bad request or authorization details"
        '500':
          description: "Internal server error occured"
      security:
        - Bearer: []
  /v1/clinic/registerPMS:
    post:
      tags:
        - "clinic"
      summary: Add all PMS used by current clinic
      description: Collect information on PMS used by current clinic
      operationId: "RegisterClinicPMS"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/RegisterClinicPMS"
      responses:
        '200':
          description: "PMS have registered for the clinic"
        '401':
          description: "Unauthorized: Bad request or authorization details"
        '500':
          description: "Internal server error occured"
      security:
        - Bearer: []
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"

definitions:
  RegisterClinicPMS:
    type: object
    properties:
      clinicId:
        type: string
      pmsNames:
        type:  array
        items:
          type: string
  ClinicRegistrationData:
    type: "object"
    properties:
      emailId:
        type: "string"
      clinicType:
        type: "string"
      isVerified:
        type: "boolean"
        default: false
    xml:
      name: "Clinic"
  ClinicVerificationData:
    type: object
    properties:
      emailId:
        type:  string
      isVerified:
        type: boolean
        default: false
  PostRegistrationResponse:
    type: object
    properties:
      emailId:
        type: string
      clinicId:
        type: string
      isVerified:
        type: boolean
  ClinicAddressRequest:
    type: object
    properties:
      clinicId:
        type: string
      clinicDetails:
        type:  array
        items:
          type: object
          properties:
            clinicName:
              type: string
            clinicAddress:
              type: string
            clinicPhoneNumber:
              type: string
  ClinicAddressResponse:
    type: object
    properties:
      clinicId:
        type: string
      emailId:
        type: string
      clinicDetails:
        type:  array
        items:
          type: object
          properties:
            clinicAddressId:
              type: string
            clinicName:
              type: string
            clinicAddress:
              type: string
            clinicPhoneNumber:
              type: string
  ClinicDoctorsRegisterRequest:
    type: object
    properties:
      clinicId:
        type: string
      doctors:
        type: object
        properties:
          clinicAddressId:
            type: string
          doctorPrefix:
            type: string
          doctorFirstName:
            type: string
          doctorLastName:
            type: string
          doctorEmailAddress:
            type: string
          doctorSpeciality:
            type: array
            items:
              type: string

          
responses:
  PostClinicRegistrationResponse:
    description: Returns successful completion of register clinic stage one
    schema:
      $ref: '#/definitions/PostRegistrationResponse'
  PostClinicVerificationResponse:
    description: Returns successful completion of verify clinic in backend
    schema:
      $ref: '#/definitions/PostRegistrationResponse'
  PostClinicAddressResponse:
    description: Returns successful completion of clinic address registration
    schema:
      $ref: '#/definitions/ClinicAddressResponse'
  