swagger: "2.0"
info:
  description: "This is a swagger spec for APIs provided by superdentist.io"
  version: "1.0.0"
  title: "SuperDentist APIs"
  contact:
    email: "superdentist.admin@superdentist.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "superdentist.io"
basePath: "/api/sd"
tags:
- name: "clinic"
  description: "All these APIs deals with users (Specialist/GD alike)"
  externalDocs:
    description: "Find out more"
    url: "http://superdentist.io"
schemes:
- "https"
paths:
  /v1/registerClinic:
    post:
      tags:
      - "clinic"
      summary: "Register Clinic"
      description: "Frontend upon firebase registration will call backend with token and details"
      operationId: "ClinicRegistrationHandler"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicRegistrationData"
      responses:
        '200':
          $ref: '#/responses/PostClinicRegistrationResponse'
        '401':
          description: "Unauthorized: Bad request or authorization details"
      security:
        - Bearer: []
  /v1/verifyClinic:
    post:
      tags:
      - "clinic"
      summary: "Verify Clinic"
      description: " Frontend will tell backend that clinic has verified itself "
      operationId: "ClinicVerificationHandler"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created clinic object"
        required: true
        schema:
          $ref: "#/definitions/ClinicVerificationData"
      responses:
        '200':
          $ref: '#/responses/PostClinicVerificationResponse'
        '401':
          description: "Unauthorized: Bad request or authorization details"
      security:
        - Bearer: []
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"

definitions:
  ClinicRegistrationData:
    type: "object"
    properties:
      emailId:
        type: "string"
      clinicType:
        type: "string"
      isVerified:
        type: "boolean"
        default: false
    xml:
      name: "Clinic"
  ClinicVerificationData:
    type: object
    properties:
      emailId:
        type:  string
      isVerified:
        type: boolean
        default: false
  PostRegistrationResponse:
    type: object
    properties:
      emailId:
        type: string
      clinicId:
        type: string
      isVerified:
        type: boolean
responses:
  PostClinicRegistrationResponse:
    description: Returns successful completion of register clinic stage one
    schema:
      $ref: '#/definitions/PostRegistrationResponse'
  PostClinicVerificationResponse:
    description: Returns successful completion of verify clinic in backend
    schema:
      $ref: '#/definitions/PostRegistrationResponse'