swagger: "2.0"
info:
  description: "This is a swagger spec for APIs provided by superdentist.io"
  version: "1.0.0"
  title: "SuperDentist APIs"
  contact:
    email: "superdentist-admin@superdentist.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "superdentist.io"
basePath: "/api/sd"
tags:
- name: "user"
  description: "All these APIs deals with users (Specialist/GD alike)"
  externalDocs:
    description: "Find out more"
    url: "http://superdentist.io"
schemes:
- "https"
paths:
  /v1/registerUser:
    post:
      tags:
      - "user"
      summary: "Register user"
      description: "Frontend upon firebase registration will call backend with token and details"
      operationId: "createUser"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/UserRegistration"
      responses:
        '200':
          description: "successful operation"
        '401':
          description: "Unauthorized: Bad request or authorization details"
      security:
        - Bearer: []
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"

definitions:
  UserRegistration:
    type: "object"
    properties:
      emailID:
        type: "string"
      phoneNumber:
        type: "string"
      userRole:
        type: "string"
    xml:
      name: "User"