{
  "openapi": "3.0.1",
  "info": {
    "title": "SuperDentist APIs",
    "description": "This is a swagger spec for APIs provided by superdentist.io",
    "contact": {
      "email": "superdentist-admin@superdentist.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://superdentist.io/api/v1"
    }
  ],
  "tags": [
    {
      "name": "general",
      "description": "General API checks",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://superdentist.io"
      }
    },
    {
      "name": "user",
      "description": "All these APIs deals with users (Specialist/GD alike)",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://superdentist.io"
      }
    }
  ],
  "paths": {
    "/hello": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Say hello",
        "operationId": "HelloHandler",
        "responses": {
          "200": {
            "description": "Super Dentist Says Hi",
            "content": {}
          },
          "401": {
            "description": "Unauthorized: Bad request or authorization details",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/registerUser": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Register user",
        "description": "Frotend upon firebase registration send payload to backend with token.",
        "operationId": "createUser",
        "requestBody": {
          "description": "Created user object",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {}
          },
          "401": {
            "description": "Unauthorized: Bad request or authorization details",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "UserRegistration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "userStatus": {
            "type": "integer",
            "description": "User Status",
            "format": "int32"
          }
        },
        "xml": {
          "name": "User"
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}